body{
    background-color: darkcyan;
}
.nav{
    font-size: xx-large;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 50px;
  } 
  li {
    display: inline;
    padding-left: 100px;
  } 

  .column {
    float: left;
    padding-top: 100px;

  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  .container {
      padding-top: 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .container .content {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-top: 400px;
  }
  .Peter{
padding-top: 500px;
  }
  progress{
width: 30%;
height: 50px;
  }