body{
    background-color: darkgreen;
}
.nav{
    font-size: xx-large;
    background-color: darkcyan;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 50px;
  } 
  li {
    display: inline;
    padding-left: 100px;
  } 

  .column {
    float: left;
    padding-top: 100px;

  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  .container {
      padding-top: 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .container .content {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-top: 400px;
  }
  .Peter{
padding-top: 500px;
background-color: cornsilk;
  }
  progress{
width: 30%;
height: 50px;
  }

  .Accomplishments{
    display: flex;
    padding-top: 100px;
  }
  
  .Projects {
    flex: 33.33%;
    padding: 5px;
  }
  #center{
   text-align: center; 
  }
  .contact{
    display: flex;
    padding-top: 100px;
    background-color: cornsilk;
  }
  
  .layout{
    flex: 50%;
    padding: 5px;
  }

  .footer {
    float: left;
    background-color: white;
    height: 300px;
    width: 100%;
    display: flex;
    padding-top: 10px;
  }

  .part {
    content: "";
    display: table;
    clear: both;
    padding: 5px;
    flex: 25%;
    text-align: center;
  }
  .active {
    font-size: x-large;
    padding: 5px;
  }
  
  
